h1{
background-color: #ff003a;
font-size: 2rem;
color: #4267B2;

}
/* h2{
background-color: blueviolet;
color:brown;
font-size: 2rem;
} */
body{
    background:url("https://images.pexels.com/photos/13639773/pexels-photo-13639773.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    
}